[submodule "themes/no-style-please"]
	path = themes/no-style-please
	url = https://github.com/g-hanwen/hugo-theme-nostyleplease.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
